
html{
    font-size: 62.5;
}
body{
    background-color: rgb(255, 255, 255);
}
.all-characters{
    margin-top: 10vh;
    background-color: rgb(255, 255, 255);
    min-width:28vw;
    margin-bottom: 10vh;
    padding: 10px;
    /* border-style: solid; */
    /* border-width: 1px; */
    /* border-color: red; */
    box-shadow: 2px 2px 10px black;
}
.star-wars-characters{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.all-characters p {
    font-size: bold;
    font-weight: 2rem;
    text-align:center;
    color: rgb(185, 110, 11);

}
.image{
    max-width:10rem;
    max-height: 12rem;
    margin-left: 8vw;
}